.main {
  width: 700px;
  margin: auto;
  
}
h1,h3,h5 {
  text-align: center;
}

.err {
  font-weight: bold;
  color: red;
  border: solid red 5px;
}

.right {
  float: right;
}

.shadow-link,
.shadow-link * {
  font-family: monospace;
  color: lightgrey;
}

.shadow-link:hover,
.shadow-link *:hover {
  color: blue;
}